*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    height: 950px;
    width: 80%;
    background-color: antiquewhite;
    margin: auto;

    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h3{
    text-align: center;
}
.header{height: 35px;
    background-color:black;
    text-align: center;
    line-height: 35px;
    border-bottom: 1px solid lightgray;
    outline: 0;
    width: 100%;
}
ul li{
    display: inline;
    color: darkgrey;
    font-size:large;
    border-right:2px solid grey;
    padding-right: 10px;

    
}
.navbar{
    height: 150px;
    width:100%;
    background-color: rgba(0,0,0,0.7);
    position: relative;
}
.container{position: relative;
    height: 250px;
    width: 100%;
    background-image: linear-gradient(30deg,orange,red);
color: aliceblue;
    opacity: 0.8;
    text-align-last: right;
    

}
span{
    text-align:left;

}

.img{
    height:10px;
    width: 20%;


}

 .footer{top: 0;
    height: 100px;
    width:100%;
    background-color:black;
    color: darkgray;
    text-align: center;
    
} 
.section  {
    height: 530px;
    width: 100%;
    background-color:azure;
}




.aside{  height: 450px;
    width: 30%;
       background-image: linear-gradient(30deg,orange,red);

    float: right;
    border-radius: 15px;

}

button{
    height: 40px;
    width: 10%;
    float: right;
    border-radius: 5px;
    
}

.a {
  background-color:orange;

}
#name{
height: 20px;
width: 40px;
margin-left: 30%;
background-color: rgba(128, 0, 128, 0.946);
margin-top: 30px;


}
.first{position: absolute;

    height: 210px;
    width: 30%;
    background-image: linear-gradient(20deg ,maroon,maroon,red,red );
   border-top: 7px solid black;
   border-right: 7px solid black;
   opacity: 0.6;
    border-radius: 15px;
    margin-left: 10px;
    box-shadow: 5px 8px 10px black;
}
.text{
    float:right;
    margin-right:40%;

}

 
