h4 {
    text-align: center;
    color: brown;
}

h2 {
    text-align: center;
    color: brown;
}

.card {
    height: 400px;
    width: 50%;
    background-color: gray;
    color: aliceblue;
}